aiohttp
async-timeout
attrs
beautifulsoup4
bs4
certifi
cffi
chardet
click
discord.py
Flask
future
idna
idna-ssl
itsdangerous
Jinja2
lxml
MarkupSafe
multidict
oauthlib
Pillow
pycparser
PyNaCl
python-twitter
PyYAML
requests
requests-oauthlib
six
urllib3
websockets
Werkzeug
yarl
